@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.fotter{
    margin-top:2rem;
    background: radial-gradient(circle at 10% 20%, rgb(90, 92, 106) 0%, rgb(32, 45, 58) 81.3%);
}
.footer-parent
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fotter-contain{
    font-family: 'inter';
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fotter-next-ele{
    font-family: 'inter';
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
}
.fotter-ele{
    font-family: 'inter';
    color: white;
    cursor: pointer;
    font-size: 2rem;
}
.terms-condition{
    font-family: 'inter';
    box-sizing: border-box;
    padding-top: 2rem;
    gap: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    font-size: 1.2rem;
}
.termsofservice{
    color: white;
    cursor: pointer;
}
.privacypolicy{
    font-family: 'inter';
    color: white;
    cursor: pointer;
}
.refundpolicy{
    font-family: 'inter';
    color: white;
    cursor: pointer;
}
.footer-parent{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 1rem;
    flex-direction: row;
}
.copyrightprima{
    font-family: 'inter';
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 3rem;
    cursor: pointer;
}
.icons-footer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items:center ;
    position: absolute;
    box-sizing: border-box;
    padding-left: 2rem;
    height: 3rem;
    left: 0;
}

.footer-icons{
    color: white;
    font-size: 2rem;
    cursor: pointer;
    width: 1.7rem;
}
@media (max-width: 768px) {
    .footer-parent
{  
    display: flex;
    flex-direction: row;
    align-items: center;
}

    .submit-message{
        margin: 0rem;
    }
    .Aboutinfodiv{
        margin: 0rem;
    }
    .Aboutinfo{
        margin: 0rem;
    }
    .footer-parent{
        align-items: center;
       justify-content: center;
    }
    .message-enter-div{
        margin: 0rem;
    }
    .termsofservice{
        display: none;
    }
    .refundpolicy{
        display: none;
    }
    .privacypolicy{
       display: none;
    }
    .icons-footer{
        box-sizing: border-box;
        padding-left: 9rem;
    }
    .copyrightprima{
        display: none;
    }
    .enter-email-text{
        margin: 0rem;
    }
}
